<launch>
    <param name="pose03_path" type="str" value="$(find rubik_cube_solve)/pose/pose03.yaml" />
    <param name="pose021_path" type="str" value="$(find rubik_cube_solve)/pose/pose021.yaml" />
    <param name="pose022_path" type="str" value="$(find rubik_cube_solve)/pose/pose022.yaml" />
    <param name="pose023_path" type="str" value="$(find rubik_cube_solve)/pose/pose023.yaml" />
    <param name="pose024_path" type="str" value="$(find rubik_cube_solve)/pose/pose024.yaml" />
    <param name="pose025_path" type="str" value="$(find rubik_cube_solve)/pose/pose025.yaml" />
    <param name="pose011_path" type="str" value="$(find rubik_cube_solve)/pose/pose011.yaml" />
    <param name="pose012_path" type="str" value="$(find rubik_cube_solve)/pose/pose012.yaml" />

    <param name="pose14_path" type="str" value="$(find rubik_cube_solve)/pose/pose14.yaml" />
    <param name="pose121_path" type="str" value="$(find rubik_cube_solve)/pose/pose121.yaml" />
    <param name="pose122_path" type="str" value="$(find rubik_cube_solve)/pose/pose122.yaml" />
    <param name="pose123_path" type="str" value="$(find rubik_cube_solve)/pose/pose123.yaml" />
    <param name="pose124_path" type="str" value="$(find rubik_cube_solve)/pose/pose124.yaml" />
    <param name="pose125_path" type="str" value="$(find rubik_cube_solve)/pose/pose125.yaml" />
    <param name="pose111_path" type="str" value="$(find rubik_cube_solve)/pose/pose111.yaml" />
    <param name="pose112_path" type="str" value="$(find rubik_cube_solve)/pose/pose112.yaml" />

    <param name="pick0_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose0.yaml" />
    <param name="pick1_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose1.yaml" />
    <param name="pick2_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose2.yaml" />
    <param name="pick3_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose3.yaml" />
    <param name="pick4_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose4.yaml" />
    <param name="pick5_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose5.yaml" />
    <param name="pick6_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose6.yaml" />
    <param name="pick7_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose7.yaml" />
    <param name="pick8_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose8.yaml" />
    <param name="pick9_path" type="str" value="$(find rubik_cube_solve)/shootPose/Pose9.yaml" />
</launch>